.buttonWrapper {
}

.button {
	background-color: var(--text-orange);
	border-radius: 0.5rem;
	cursor: pointer;
	color: white;
	border: transparent;
	font-size: 1.125rem /* 18px */;
	line-height: 1.75rem /* 28px */;
}

.button:hover {
	background-color: #f44954;
	border: 1px solid var(--text-orange);
	margin: -1px;
}

@media (min-width: 640px) {
	.buttonWrapper {
		display: flex;
		margin-top: 1.25rem;
	}
}

@media (min-width: 768px) {
	.button {
		font-size: 1.125rem /* 18px */;
		line-height: 1.75rem /* 28px */;
	}
}

/* @media (min-width: 1024px) {
	.buttonWrapper {
		justify-content: flex-start;
	}
} */
