/** Mobile first development **/

.container {
	margin-bottom: 14rem /* 224px */;
}

.main {
	margin-top: 2.5rem /* 40px */;
	margin-left: auto;
	margin-right: auto;
	max-width: 80rem /* 1152px */;
	padding-left: 1rem /* 16px */;
	padding-right: 1rem /* 16px */;
}

.heroContainer {
	background-color: #000;
	background-image: url('../public/static/pizza-hero-img-2.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 15px;
	height: 600px;
}

/* .heroImage {
	position: absolute;
	bottom: 0;
} */

.cardLayout {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	column-gap: 1.5rem /* 24px */;
	row-gap: 1.5rem /* 24px */;
}

.card {
	justify-content: center;
}

.headingContainer {
	margin: 5rem 0 2rem;
}

.heading {
	color: var(--text-black);
	font-size: 2rem;
	line-height: 2.5rem;
}

.heading span {
	border-bottom: 3px solid var(--text-orange);
	padding-bottom: 5px;
}

.sectionWrapper {
	margin-top: 5rem;
}

.buttonWrapper {
	margin: 0.25rem 0 8rem;
}

.button {
	background-color: var(--text-orange);
	border-radius: 25px;
	cursor: pointer;
	color: white;
	border: transparent;

	padding-top: 1rem /* 16px */;
	padding-bottom: 1rem /* 16px */;
	font-size: 1.125rem /* 18px */;
	line-height: 1.75rem /* 28px */;
	padding-left: 2.5rem /* 40px */;
	padding-right: 2.5rem /* 40px */;
}

.button:hover {
	background-color: #f44954;
	border: 1px solid var(--text-orange);
	margin: -1px;
}

/** Breakpoints:
  sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl: min-width: 1536px;
**/

@media (min-width: 640px) {
	.container {
		padding-left: 1rem /* 16px */;
		padding-right: 1rem /* 16px */;
	}

	.main {
		margin-top: 3rem /* 48px */;
		padding-left: 1.5rem /* 24px */;
		padding-right: 1.5rem /* 24px */;
	}
	.cardLayout {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.buttonWrapper {
		display: flex;
		margin-top: 0.5rem;
	}
}

@media (min-width: 768px) {
	.container {
		padding-left: 2.5rem /* 40px */;
		padding-right: 2.5rem /* 40px */;
	}

	.main {
		margin-top: 4rem /* 64px */;
	}

	.heroImage {
		right: 20%;
	}

	.cardLayout {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.button {
		padding-top: 1rem /* 16px */;
		padding-bottom: 1rem /* 16px */;
		font-size: 1.125rem /* 18px */;
		line-height: 1.75rem /* 28px */;
		padding-left: 2.5rem /* 40px */;
		padding-right: 2.5rem /* 40px */;
	}
}

@media (min-width: 1024px) {
	.container {
		padding-left: 2.5rem /* 40px */;
		padding-right: 2.5rem /* 40px */;
	}
	.main {
		margin-top: 5rem /* 80px */;
		padding-left: 2rem /* 32px */;
		padding-right: 2rem /* 32px */;
	}
	.heroImage {
		right: 20%;
	}
	.cardLayout {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.buttonWrapper {
		justify-content: flex-start;
	}
}

@media (min-width: 1280px) {
	.main {
		margin-top: 7rem /* 112px */;
	}

	.cardLayout {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}
