.pizzaPlaceContainer {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 13rem 0 5rem;
	max-width: 1200px;
	width: 90vw;
}

.backToHomeLink {
	text-transform: uppercase;
	background: #eae5e4;
	border: 2px solid var(--text-orange);
	border-radius: 0.55rem;
	color: var(--text-black);
	padding: 0.375rem 0.75rem;
	letter-spacing: 0.1rem;
	display: inline-block;
	font-weight: 600;
	transition: all 0.3s linear;
	font-size: 0.875rem;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	max-width: 145px;
}

.pizzaPlaceInfoContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 4rem;
	margin-top: 2rem;
}

.col1 {
	height: 100%;
}

.imageContainer {
	height: 100%;
}

.imageContainer span {
	height: 100% !important;
}

.imageContainer img {
	height: 100%;
	width: 100%;
	display: block;
	border-radius: 0.5rem;
}

.col2 {
	align-self: self-start;
	color: rgba(55, 59, 100, 1);
	border-radius: 10px;
	border: 2px solid #d53200;
	padding: 1rem 1rem 0.5rem;
	height: 100%;
}

.name {
	color: var(--text-black);
	font-size: 2.5rem;
	margin-bottom: 1.25rem;
	max-width: 45rem;
}

.pizzaPlaceInfo {
	color: var(--text-black);
	margin-bottom: 1.25rem;
	font-size: 1.5rem;

	text-transform: capitalize;
	width: 320px;
	display: grid;
	grid-template-columns: 24px 1fr;
	grid-gap: 20px;
}

.icon {
	filter: invert(61%) sepia(2%) saturate(1509%) hue-rotate(314deg)
		brightness(93%) contrast(78%);
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid var(--text-orange);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.errorMessage {
	color: var(--text-orange);
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

@media (max-width: 768px) {
	.pizzaPlaceInfoContainer {
		gap: 2rem;
		grid-template-columns: unset;
	}

	.imageContainer span {
		width: 100% !important;
	}
}

@media (max-width: 425px) {
	.pizzaPlaceContainer {
		padding-top: 8rem;
	}
	.name {
		font-size: 1.75rem;
		width: 20rem;
	}
}

@media (max-width: 375px) {
	.col1 {
		width: 90vw;
	}

	.col2 {
		width: 90vw;
	}

	.name {
		font-size: 1.5rem;
	}
}

@media (max-width: 320px) {
	.pizzaPlaceInfo {
		font-size: 1.25rem;
	}
}
